<nav>
    <div class="flex justify-between items-center">
        <a href="#home" class="text-2xl">Portifólio</a>
        
        <!-- Botão do menu hambúrguer (visível apenas em telas pequenas) -->
        <button id="menuButton" class="md:hidden text-2xl">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Menu de navegação (escondido em telas pequenas) -->
        <div id="navMenu" class="hidden md:flex md:space-x-8">
            <a href="#sobre" class="text-2xl">Sobre</a>
            <a href="#projetos" class="text-2xl">Projetos</a>
            <a href="#contato" class="text-2xl">Contato</a>
        </div>
    </div>
</nav>

<script>
    document.getElementById('menuButton').addEventListener('click', function() {
        const navMenu = document.getElementById('navMenu');
        navMenu.classList.toggle('hidden');
        navMenu.classList.toggle('flex');
        navMenu.classList.toggle('flex-col');
        navMenu.classList.toggle('absolute');
        navMenu.classList.toggle('top-20');
        navMenu.classList.toggle('right-0');
        navMenu.classList.toggle('bg-gray-950');
        navMenu.classList.toggle('p-4');
        navMenu.classList.toggle('space-y-4');
    });
</script>